{% extends 'base.html' %}
{% load i18n %}

{% block content %}
quotation form

<form action="" method="post" class="form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-info">
        <span class="fa fa-pencil fa-fw" aria-hidden="true"></span> {% trans 'Write' %}
    </button>
</form>
{% endblock %}