body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'THSarabunNew', 'malgun gothic', serif;
    font-size: 16px;
    line-height: 1.5;
}

.footer {
    text-align: center;
}

.spacer_30 {
    margin-top: 30px;
}

.spacer_90 {
    margin-top: 90px;
}
